{% extends 'includes/layout.html'%}
{% block body %}
    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Rebate</title>
</head>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="rebates">Accounts</a>
        </li>
        <li class="breadcrumb-item active"> <a href ="compare">Comparing Of Credit Card Rebates</a></li>

      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> OCBC 365 Credit Card
            <br>
            Account Number:155-3256-001
            </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>2017/11</th>
                  <th>Type Of Rebates</th>
                  <th>Amount Spend</th>
                  <th>%</th>
                  <th>CashBack Amount</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>2017/11/10</td>
                  <td>Online Shopping</td>
                  <td>$290</td>
                  <td>3%</td>
                  <td>$8.70</td>
                </tr>
                <tr>
                  <td>2017/11/12</td>
                  <td>Shell Petrol Station</td>
                  <td>$130</td>
                  <td>5%</td>
                  <td>$6.50</td>
                </tr>
                <tr>
                  <th>Total</th>
                  <td> &nbsp</td>
                  <td> &nbsp</td>
                  <td> &nbsp</td>
                  <td> $15.20 </td>
                </tr>



              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
{% endblock %}
</html>
